<html>
<head>
  <LINK rel=stylesheet type="text/css" href="/user_index.css">
</head>
<body>

  <div class = "topnav">
    <a href="/books">Books</a>
    <a href="/authors">Authors</a>
    <a href="/users">Users</a>
    <%= link_to("Add A New Book", new_book_path) %>
    <div align = "right" id="user_reviews">
      <select onchange = "location = this.value;">
        <option> ---------- </option>
        <option value="/users/<%=@user.id%>?sort=newest">New to Old</option>
        <option value="/users/<%=@user.id%>?sort=oldest">Old to New</option>
      </select>
    </div>
  </div>

<div id="user_name" class = "header">
  <h1 align="center"><%= @user.name %> </h1>
</div>

<div class = "user-grid">
  <% if @reviews.count>0 %>
    <% @reviews.each do |review| %>
      <div class = "info">
        <h3 align = "left"><%=link_to "Delete Review", user_review_path(review), method: :delete %></h3>
        <h2 align = "left">Reviewed <%= link_to(review.book.title, book_path(review.book)) %></h2>
        <h2><%= review.title%>
         <%=review.score.times do %>
            <img width = 15px src = "https://upload.wikimedia.org/wikipedia/commons/7/78/BlackStar.PNG">
            <% end %> </h2>
        <h3 align = "left">"<%=review.description%>"</h3>
      </div>
      <% end %>
  <% else%>
    <h1 align = "center"> No Reviews</h1>
  <% end %>
</div>
</body>
</html>
