<html>
<head>
  <LINK rel=stylesheet type="text/css" href="/books_index.css">
</head>
<body>
  <div class="topnav">
    <a class="active" href="/books">Books</a>
    <a href="/authors">Authors</a>
    <a href="/users">Users</a>
    <div class="form_format">
    <select onchange="location = this.value;">
      <option>Sort By</option>
      <option value = "/books?direction=desc&sort=average_score">Average Rating DESC</option>
      <option value = "/books?direction=asc&sort=average_score">Average Rating ASC</option>
      <option value = "/books?direction=desc&sort=pages">Page Count DESC</option>
      <option value = "/books?direction=asc&sort=pages">Page Count ASC</option>
      <option value = "/books?direction=desc&sort=reviews">Total Reviews DESC</option>
      <option value = "/books?direction=asc&sort=reviews">Total Reviews ASC</option>
    </select>
    </div>
    <%= link_to("Add A New Book", new_book_path) %>
  </div>

<div class="header">
<h1> Index </h1>
</div>

<div class= "sidebar">
  <h1 align = "center"> STATISTICS </h1>
  <div id= "highest_rated_books">
    <h2 align = "left">Highest Rated Books: </h2>
        <% @average_ordered_books.take(3).each do |book| %>
        <p align = "left"><%= link_to(book.title, book_path(book)) %></p>
        <% end %>

  </div>

  <div id="lowest_rated_books">
    <h2 align = "left">Worst Rated Books: </h2>
      <% @average_ordered_books.reverse.take(3).each do |book|%>
      <p align = "left"><%= link_to(book.title, book_path(book)) %></p>
      <% end %>
    </p>
  </div>

  <div id="most-common-visitors">
    <h2 align = "left">Most Active Users: </h2>
      <% @top_3_users.each do |user|%>
      <p align = "left"><%= link_to(user.name, user_path(user)) %></p>
      <% end %>
    </p>
  </div>

  <div id="new_book_link">
    <h2><%= link_to("Add A New Book", new_book_path) %></h2>
  </div>
</div>


<div id= "book_list">
<% @books.each do |book| %>
  <div class= "info">
    <h1 align = "center"><%= link_to(book.title, book_path(book)) %></h1>
    <% if !book.reviews.empty? %>
      <p align = "center">[Average Review: <%= book.reviews.average_review%> Stars]</p>
      <%else%><%= link_to("Create the first review!", new_book_review_path(book)) %>
      <%end%>
    <div class = "book_grid_item">
    <img width= 300px src= "<%=book.image_url%>"/>
    <li>Number of Reviews:
      <% if !book.reviews.empty? %>
      <%= book.reviews.count %>
      <%else%><%= 0 %>
      <%end%></li>

  <% book.authors.each do |author| %>
    <li>Author: <%=link_to(author.name, author_path(author))%> </li>
  <% end %>
  <li>Number of Pages: <%= book.pages %> </li>
  <li>Published in <%= book.year %></li>
  </div>
</div>


  <% end %>
</div>



</body>
</html>
