<h1> All Books </h1>

<% @books.each do |book| %>
  <li><%= book.title %></li>
  <% book.authors.each do |author| %>
    <li><%= author.name %></li>
  <% end %>
  <li><%= book.pages %> Pages</li>
  <li>Published in <%= book.year %></li>
  <p><img src= "<%= book.image_url %>"</img></p>
<% end %>
