<head>
  <LINK rel=stylesheet type="text/css" href="/books_new.css">
</head>

<div class="topnav">
  <a href="/books">Books</a>
  <a href="/authors">Authors</a>
  <a href="/users">Users</a>
  <a class="active" <%= link_to("Add A New Book", new_book_path) %></a>
</div>

<div id="form">
  <h1> Create a New Book </h1>
  <%= form_for @book, url: {action: "create"}, html: {class: "book_form"} do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :pages %>
  <%= f.text_field :pages %>
  <br>
  <%= f.label :authors %>
  <%= f.text_field :authors, value: "" %>
  <br>
  <%= f.label :year %>
  <%= f.text_field :year %>
  <br>
  <%= f.label :image_url %>
  <%= f.text_field :image_url %>
  <br>
  <%= f.submit "Submit" %>
<% end %>
</div>
